
#main{
	width:80%;
	padding:20px;
}
.vbox{
	background-color: #ccc;
    height: 100px;
    width: 200px;
    float: left;
	margin:20px;
	text-align: center;
    vertical-align: middle;
	text-transform: capitalize;
	line-height:100px;
	
}